.header {
	background-color: #24252A;
    height: 70px;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav span {
	margin-left: 3px;
	color: white;
	margin-top: 10px;
	font-size: 23px;
	font-weight: 600;
}

.nav__search {
	margin-top: 15px;
}

.nav__search i{
	color: white;
	padding: 0 7px;
}

.nav__search input {
	outline: 'none';
	border: 'none'; 
	background: 'transparent';
	width: 250px;
	height: 20px;
    border-radius: 3px;
}

.nav__right {
	margin-top: 15px;
	color: white;
}

@media (max-width: 556px) {
.header {
	height: auto;
}
.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
}

@media (max-width: 348px) {
.header {
	height: auto;
	width: 100%;
}
.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.nav span{
   font-size: 15px;
}

.nav__search input {
	width: 150px;
}
}
